body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
    }
.fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.pokemon {
    width: 120px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.pokemon img {
    width: 80px;
    height: 80px;
}
.nombre a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nombre a:hover {
    color: #d62828;
}
h1 {
    text-align: center;
  }